body {
    text-align: center;
    background-image: lightblue;
}

#welcome {
    color: #FFFFFF;
    bottom: 0;
    background: lightblue;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

#video {
    text-align: center;
}
